<html>
<head>
	<title>Get more information</title>
</head>
<body>
	<div id="flash">
	</div>
	<p>Hi. Please enter your email address and we will send you more information on our other fun games:
	<form action="/form" method="post">
		<input type="text" name="message">
		<input type="submit">
	</form>
	</p>
</body>
</html>