<html>
<head>
  <title>Sudoku Game</title>   
  <!-- link to the CSS stylesheet -->
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1 class='header'>Life is too short for playing Sudoku</h1>
  <div id="sudoku">
  	<form action="/" method="post">
  		<!--all boxes, rows, cells -->
	    <% 3.times do |row| %>
	      <div class='row'>
	        <% 3.times do |box| %>
	          <div class="box">
	            <% 3.times do |cell_row|%>
	              <div class="cell-row">
	                <% 3.times do |cell|%>
	                    <%= partial :cell, :locals => {:cell_index => row * 27 + box * 9 + cell_row * 3 + cell} %>
	                <% end %>
	              </div>
	            <% end %>
	          </div>
	        <% end %>
	      </div>
	    <% end %>
     <button>Check Solution</button>
	</form>
  </div>
</body>
</html>
