#flash{
	margin: 20px;
	text-align: center;
	background-color: yellow;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

.header {
	text-align: center;
}

div.box, div.cell {
  	display: inline-block;
}

div.box {
	outline: 2px solid black;
}

.cell input {
	width: 30px;
	height: 30px;
	text-align: center;
}

.incorrect {
	background-color: yellow;
}

.value-provided	{
	background-color: #DDD;
}

